<link rel="stylesheet" href="/css/newGame.css"/>
<body>
  <div id="player_list container">
    <div class="player_name">Player 1</div>
    <div class="form-outline mb-2">
        <input type="text" name="player_one" class="form-control" placeholder="Player 1 Name" />
      </div>

      <div class="player_name">Player 2</div>
      <div class="form-outline mb-2">
        <input type="text" name="player_second" class="form-control" placeholder="Player 2 Name" />
      </div>
      

      <div class="player_name">Player 3</div>
        <div class="form-outline mb-2">
        <input type="text" name="player_third" class="form-control" placeholder="Player 3 Name" />
      </div>

      <div class="player_name">Player 4</div>
      <div class="form-outline mb-2">
        <input type="text" name="player_four" class="form-control" placeholder="Player 4 Name" />
      </div>
    </div>
    
    
      <button type="submit" class="btn btn-primary btn-block mb-4 float-center">
        Add
      </button>
</body>